<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link type="image/png" sizes="16x16" rel="icon"
    href="{{ url_for('static', filename='images/icons8-todo-list-16.png') }}">
  <link type="image/png" sizes="32x32" rel="icon"
    href="{{ url_for('static', filename='/images/icons8-todo-list-32.png') }}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Task Manager</title>
</head>

<body>
  <nav class="teal lighten-1">
    <div class="nav-wrapper">
      <a href="{{ url_for('home') }}" class="brand-logo ">Task Manager</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('add_task') }}">New Task</a></li>
        <li><a href="{{ url_for('categories') }}">Categories</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('add_task') }}">New Task</a></li>
    <li><a href="{{ url_for('categories') }}">Categories</a></li>
  </ul>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="page-footer teal darken-1">
    <div class="footer-copyright">
      <div class="container">
        © <span id="copyright"></span> FlashDrag/CodeInstitute
        <a class="white-text right" href="https://github.com/FlashDrag" target="_blank">&#9881; My GitHub</a>
      </div>
    </div>
  </footer>

  <!-- Flash Modal -->
  <div id="flashes-modal" class="modal">
    <div class="modal-content center-align">
      <div id="flashes-wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
          {% for msg in messages %}
          <li>{{ msg }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
      </div>
      <button class="modal-close btn waves-effect">OK</button>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
    crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>