{% extends "base.html" %}
{% block content %}

<h3 class="teal-text text-darken-3 center-align">Categories</h3>

<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_category') }}" class="btn-large cyan darken-1 waves-effect waves-light">
      Add Category <i class="material-icons center-icon">create_new_folder</i></a>
  </div>
</div>
<div class="row">
  {% for category in categories %}
  <div class="col s12 m6 l4 xl3">
    <div class="card cyan darken-3 center-align">
      <div class="card-content white-text">
        <span class="card-title">{{ category.category_name }}</span>
      </div>
      <div class="card-action">
        <a href="{{ url_for('edit_category', category_id=category.id) }}"
          class="btn cyan darken-1 waves-effect waves-light">Edit</a>
        <!-- Modal Trigger -->
        <a href="#modal1" data-category='{{ category.to_dict()|tojson }}'
          class="btn cyan lime darken-4 waves-effect waves-light modal-trigger">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 class="white-text">Delete category <span id="modal-category-name" class="cyan-text"></span>?</h4>
    <p class="white-text">All tasks related to this category will be deleted.</p>
  </div>
  <div class="modal-footer">
    <button class="modal-close btn red waves-effect waves-red">NO</button>
    <a href="" id="confirm-delete"
      class="modal-close btn waves-effect">YES</a>
  </div>
</div>

{% endblock %}