body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


@media only screen and (min-width: 993px) {
  nav .nav-wrapper {
    padding: 0 1rem;
  }
}

.page-footer {
  padding-top: 0;
}

.page-footer a:hover {
  color: rgba(255,255,255,0.8) !important;
}

.center-icon {
  vertical-align: bottom;
  /* font-size: 20px !important; */
}

/* Tasks */
.task-name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
}

.category-name {
  font-size: 18px;
  font-weight: 500;
}

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 40%;
  will-change: top, opacity;
  color: white;
}

.modal-footer {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

@media screen and (max-width: 600px) {
  .modal {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .modal {
    max-width: 60%;
  }
}

#flashes-modal li {
  font-size: 1.5rem;
}

#flashes-modal .btn {
  margin-top: 2rem;
  width: 80px;
}

.deep-orange-text {
  font-size: 20px;
}