body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.page-footer {
  padding-top: 0;
}

.page-footer a:hover {
  color: rgba(255,255,255,0.8) !important;
}

.center-icon {
  vertical-align: bottom;
  /* font-size: 20px !important; */
}