body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


.page-footer {
  padding-top: 0;
}

.page-footer a:hover {
  color: rgba(255,255,255,0.8) !important;
}

.center-icon {
  vertical-align: bottom;
  /* font-size: 20px !important; */
}

/* Tasks */
.task-name {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.category-name {
  font-size: 18px;
  font-weight: 500;
}

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 40%;
  will-change: top, opacity;
}

.modal-footer {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

@media screen and (max-width: 600px) {
  .modal {
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .modal {
    max-width: 60%;
  }
}